@use './variables' as *;
@use 'sass:map';

// header
.about__header {
  text-align: center;
  margin-bottom: map.get($spacing, sp-7);

  h2 {
    font-family: map.get($fonts, heading);
    font-size: map.get(map.get($text-styles, h3), size);
    line-height: map.get(map.get($text-styles, h3), line);
    letter-spacing: 0px;
    font-weight: map.get($weights, regular);
    color: map.get($colors, accent);
    margin: 0;
  }

  h1 {
    font-family: map.get($fonts, heading);
    font-size: map.get(map.get($text-styles, h1), size);
    line-height: 1.3;
    font-weight: map.get($weights, regular);
    letter-spacing: 0.13em;
    color: map.get($colors, bold-main);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
}

// main section
.about__main {
  width: 100%;
  background: map.get($colors, l-neut-pink);
  padding: map.get($spacing, sp-7) map.get($spacing, sp-4);
}

.about__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

// image
.about__image {
  flex: 0 0 400px;
}

.about__image img {
  width: 100%;
  display: block;
}

// content
.about__content {
  flex: 1;

  h3 {
    font-family: map.get($fonts, heading);
    font-size: map.get(map.get($text-styles, h3), size);

    line-height: 1.3;

    font-weight: map.get($weights, regular);
    color: map.get($colors, bold-main);
    max-width: 604px;
    word-break: keep-all;
  }

  p {
    font-family: map.get($fonts, primary);
    font-size: 18px;
    line-height: 1.5;
    font-weight: map.get($weights, light);
    color: #000000;
    margin-bottom: map.get($spacing, sp-5);
  }

button {
  font-family: map.get($fonts, heading);
  font-size: map.get(map.get($text-styles, button-sm), size);
  line-height: 1;
  padding: map.get($spacing, sp-4) map.get($spacing, sp-5);
  border: 0.8px solid #5E4A49;
  background: transparent;
  cursor: pointer;
  transition: map.get($transitions, default);
  color: #5E4A49;
  display: inline-block;

  &:hover {
    background: map.get($colors, comp-dark-p);
    border-color: map.get($colors, comp-dark-p);
    color: #fff;
  }
}
}

// brands
.about__brands {
  text-align: center;
  padding: map.get($spacing, sp-7) map.get($spacing, sp-4);

  h3 {
    font-family: map.get($fonts, heading);
    font-size: map.get(map.get($text-styles, h3), size);
    font-weight: map.get($weights, regular);
    letter-spacing: 0px;
    margin-bottom: map.get($spacing, sp-6);
    color: map.get($colors, bold-main);
  }
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: map.get($spacing, sp-5);

  max-width: 904px;
  margin: 0 auto;

  justify-items: center;
  align-items: center;

  img {
    width: 120px;
    height: 40px;
    object-fit: contain;
    opacity: 0.7;
  }

  img:nth-child(7) {
  transform: scale(1.3);
  margin-top: 4px;
  }
}


@media (max-width: 768px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__image img {
    max-width: 260px;
  }

  .about__content {
    max-width: 100%;
  }

  .about__content h3 {
    max-width: 100%;
  }

  .about__content button {
    margin: 0 auto;
    display: block;
  }

  .about__container {
    gap: 24px;
  }

  .about__content p {
    margin-bottom: 24px;
  }
}